@font-face {
    font-family: 'istokweb';
    src: url(../fonts/IstokWeb-Regular.ttf);
}
@font-face {
    font-family: 'lora';
    src: url(../fonts/Lora-Regular.ttf);
}

footer {
	background-position: center top;
	text-align: center;
}

hr {
	padding-bottom: 0;
}

header h1, header h2 {
	text-align: center;
}

.blog .blog-entry {
	background: white;
	border: solid thin #CCC;
	border-radius: 5px;
	padding: 20px;
	letter-spacing: -1px;
	margin-bottom: 30px;
}
