@font-face {
    font-family: 'kenvector';
    src: url(../fonts/kenvector_future.ttf);
}
@font-face {
    font-family: 'kenvector-thin';
    src: url(../fonts/kenvector_future_thin.ttf);
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-position: center top;
	text-align: center;
}

header { 
	padding-bottom: 0;
}
header h1, header h2 {
	text-align: center;
}